section{
	padding:0px;
}

.cImg{
	padding:0px;
}

.titulo{
	color: #00365e;
	text-transform:none;
	font-size:11vmin;
	line-height: 100%;
	padding:30px;
}

.textos{
	color: #00365e;
    padding: 30px;
    font-size: 4.1vmin;
    line-height: 150%;
	padding-top: 10px;
}

.coolFont{
	    font-family: 'Open Sans', sans-serif;
}
.agency-header2 img {
    margin-bottom: -1%;
    width: 39%;
    margin-top: 149px;
}

.slider-text-bottom2 {
 /*    display: table-cell;
    vertical-align: bottom; */
}


.nosotros {
 
	margin: 0 0 20px;
    margin-top: 13%;
    margin-right: 99%;
    font-size: 8vmin;
    color: white;
	font-family: 'Open Sans', sans-serif;
}

#ar{
	    margin-top: -203px;
}
#lo{
	    margin-top: 146px;
}
.agency-header h1 {
    font-size: 35px;
    font-weight: 100;
    letter-spacing: -2px;
    line-height: 70px;
    text-transform: unset;
}

#test {
	width: 200px;
	padding: 2em 0;
	/* background: blue; */
	background-image: url("Franja-azul.png");
	visibility: hidden;
	background-repeat: no-repeat;
	  width: 100%;
    height: 126%;
	
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateX(-100%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateX(-100%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}	
}

#test2 {

    padding: 2em 0;
    /* background: red; */
    visibility: hidden;
    margin-top: -45%;
    background-image: url(Vidrios-Curvos.png);
    background-repeat: no-repeat;
}

.slideDown2{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 3s;	
	-webkit-animation-duration: 3s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown2 {
	0% {
		transform: translateX(100%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
	}		
}

@-webkit-keyframes slideDown2 {
	0% {
		-webkit-transform: translateX(100%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}	
}

.carousel-caption {
    right: 81%;
    left: 20%;
    padding-bottom: 73px;
	
	
	
	.carousel-control.right {
    right: 0;
    left: auto;
    /* background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%); */
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    /* background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5))); */
    /* background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
}
